<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Editing post ' + post.getTitle()}">Editing post</title>
</head>
<body>
    <div>

        <h4 th:text="${'Editing post ' + post.getTitle()}">title</h4>

        <div>
            <form method="POST" th:action="@{/posts/{id}(id=${post.getId()})}" th:object="${post}">

                <input type="hidden" name="_method" value="PATCH">

                <label for="title">Title</label>
                <input id="title" type="text" maxlength="99" th:field="*{title}"/>
                <br/>

                <label for="content">Content</label>
                <textarea id="content" maxlength="999" th:field="*{content}">content</textarea>
                <br/>
                <br/>

                <input type="submit" value="Update post"/>

            </form>
        </div>

    </div>
</body>
</html>